* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body { 
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

header { 
    background-color: #afddfd;
    color: white;
    padding: 20px;
    text-align: center;
}

header img {
    display: block;
    margin: 0 auto 10px;
}

header h1 { 
    text-decoration: underline;
    color: #1c2953
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px 0;
}

nav ul li a {
    font-size: 18px;
    color: #1d1d1d;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;

}

nav ul li a:hover {
    text-decoration: underline; 
}

main { 
    padding: 30px 15px;
    max-width: 900px;
    margin:  auto;

}

section {
    margin-bottom: 50px;

}

section img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    width: 100%;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

section img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

h2 {
    color: #1c2953;
    margin-bottom: 10px;
    text-align: center;

}

h3 {
    color: #1c2953;
    margin-bottom: 20px;
    text-align: center;

}

ul {
    list-style: disc;
    padding-left: 20px;

}

ul li {
    margin-bottom: 10px;

}

footer {
    background-color: #818cc0;
    color: #222;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    margin-top: 50px;

}

@media (max-width: 780px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

  

    header img {
        width: 150px;
        
    }
    section img {
        width: 100%;
    }
}